.tab-detail_cont {
  padding: 0 40px;
  //margin-top: 20px;
}
.tab-cont {
  /* 自定义预留顶部高度 */
  //--top: 20px;
  ///* 自定义预留底部高度 */
  //--bottom: 0px;
  //
  ///* 适配留海，降级方案 */
  //padding-top: var(--top); /* 兼容非刘海屏 */
  //padding-top: calc(constant(safe-area-inset-bottom) + var(--top)); /* 标准留海屏 */
  //padding-top: calc(env(safe-area-inset-bottom) + var(--top)); /* 兼容 ios11 */
  //
  ///* 适配底部黑条，降级方案 */
  //padding-bottom: var(--bottom);
  //padding-bottom: calc(constant(safe-area-inset-bottom) + var(--bottom));
  //padding-bottom: calc(env(safe-area-inset-bottom) + var(--bottom));
  position: fixed;
  //height: 100px;
  left: 0;
  right: 0;
  //top: 0;
  background-color: #FFFFFF;
  padding: calc(constant(safe-area-inset-bottom) + var(--top)) 69px 23px 69px;
  border-bottom: 1px solid #AAB2C9;
  .tab-item {
    cursor: pointer;
    position: relative;
  }
}
.vaults-color {
  background-color: #6EB6A9;
  color: #FFFFFF;
  border-bottom: 1px solid #A2D1C9;
  z-index: 1;
  .active {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 6px;
      width: 86px;
      border-radius: 3px;
      background-color: #FFFFFF;
      left: 50%;
      bottom: -70%;
      transform: translate(-50%, -50%);
    }
  }
}
.position-cont {
  height: 115px;
}
.active {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 6px;
    width: 102px;
    background-color: #333333;
    left: 50%;
    bottom: -70%;
    transform: translate(-50%, -50%);
  }
}
.order-list {
  margin-top: 80px;
  margin-bottom: 50px;
}
.list-item {
  //height: 163px;
  padding: 60px 40px 50px;
  border-radius: 20px;
  background-color: #F0F7F7;
  .order-icon {
    height: 34px;
    width: 34px;
  }
}
.btn {
  height: 98px;
  width: calc(100vw - 80px);
  margin: 82px auto;
  color: #FFFFFF;
  text-align: center;
  line-height: 98px;
  background: #53b8a9;
  border-radius: 20px;
}
.swap-wrapper {
  padding: 60px 30px 120px 30px;
  border-radius: 20px;
}
