.pool-cont {
    background-color: #F0F7F7;
    padding: 30px;
    .title-cont {
        //padding: 31px;
        border: 1px solid #DBDEE8;
        font-size: 26px;
        line-height: 36px;
        background-color: #F8FBFB;
        border-radius: 20px;
        overflow: hidden;
        .title-text {
            padding: 26px 30px;
            background-color: #F8FBFB;
        }
        .tvl-cont {
            padding: 26px 0;
            background-color: #FFFFFF;
        }
    }
    .pool-item {
        padding: 30px;
        background-color: #FFFFFF;
        border: 1px solid #DBDEE8;
        border-radius: 20px;
        .pool-icon_cont {
            padding-bottom: 30px;
            border-bottom: 1px solid #DBDEE8;
            .pool-icon {
                height: 63px;
                width: 63px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .network-icon {
            height: 31px;
            width: 31px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 14px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .option-btn {
        margin: 20px auto;
        height: 88px;
        line-height: 88px;
        background-color: #6EB6A9;
        border-radius: 20px;
        text-align: center;
        font-size: 30px;
        color: #FFFFFF;
    }
}
.ml-12 {
    margin-left: 12px;
}
@media screen and (min-width: 1000px) {
    .mobile_class {
        height: 1440px;
        overflow-y: auto;
    }
    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }
}
.switch-cont {
    margin-left: 17px;
    width: 64px;
    height: 32px;
    padding: 4px;
    background-color: #DBDEE8;
    border-radius: 20px;
    &.switch-active {
        background-color: #6EB6A9;
        .switch-item {
            transform: translateX(100%);
        }
    }
    .switch-item {
        transition: transform ease .2s;
        width: 32px;
        height: 32px;
        background: #FFFFFF;
        box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.04);
        border-radius: 50%;
    }
}
.search-cont {
    padding: 0 20px;
    width: 320px;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #DBDEE8;
    border-radius: 20px;
    .search-icon {
        width: 26px;
        height: 26px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    input {
        flex: 1;
        outline: none;
        border: none;
        font-size: 22px;
        background-color: transparent;
        &::placeholder {
            color: #ABB1BA;
        }
    }
}

.disabled_btn {
    border: 1px solid #ABB1BA !important;
    background-color: #ABB1BA !important;
}

@media screen and (min-width: 1000px) {
    .mobile_class {
        height: 1440px;
        overflow-y: auto;
    }
    &::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }
}