.w-50 {
  width: 50%;
}
.pool-cont {
  margin-left: 40px;
  padding: 46px 0px 0px 0px;
  border-bottom: 1px solid #D7D9E4;
}
//.active_color {
//  color: #6EB6A9;
//}
.input-cont {
  height: 148px;
  border: 1px solid #6EB6A9;
}
.coin-info {
  //padding: 30px 40px;
  background-color: #6EB6A9;
  //display: flex;
  //justify-content: flex-end;
  //align-items: flex-end;
  //flex-direction: column;
  .detail-info {
    padding: 22px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #5BA598;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .icon {
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }
  .info-cont {
    margin-top: 30px;
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    background-color: #70c3b6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.pool-item {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  &.active_color {
    color: #6EB6A9;
    border-bottom: 6px solid #6EB6A9;
  }
}
.ml-35 {
  margin-left: 35px;
}
.font-400 {
  font-weight: 400;
}
.drop_down {
  height: 10px;
  width: 16px;
  background-color: red;
}
.sign {
  padding: 3px 3px;
  background: #E7F2F0;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #6EB6A9;
}