.mask-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  background: rgba(0,0,0,.45);
  &.show_modal {
    visibility: visible;
    opacity: 1;
    transition: all linear .2s;
  }
}
.modal-cont {
  //width: calc(100vw - 120px);
  width: 670px;
  height: 1072px;
  margin-top: 50px;
  padding: 40px;
  padding-bottom: 0;
  padding-right: 0;
  background-color: #FFFFFF;
  border-radius: 20px;
  z-index: 1000;
  &.show_modal-cont {
    animation: showPop linear .2s;
  }
  .header-cont {
    padding-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3A3C44;
    .back-icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 34px;
      height: 30px;
    }
  }
  .search-cont {
    margin-top: 30px;
    //width: calc(100vw - 220px);
    max-width: 580px;
    height: 88px;
    padding: 0 30px;
    //background: #F0F7F7;
    border: 1px solid #E9EBF3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    .search-icon {
      width: 30px;
      height: 30px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    input {
      flex: 1;
      outline: none;
      border: none;
      font-size: 30px;
      background-color: transparent;
      margin-left: 21px;
      &::placeholder {
        color: #ABB1BA;
      }
    }
  }
  .search-result {
    margin-top: 40px;
    display: flex;
    .select-cont {
      display: flex;
      flex-direction: column;
      width: 80px;
      height: calc(1072px - 238px);
      border-right: 1px solid #E9EBF3;
      span {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-bottom: 61px;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .coin-list {
      flex: 1;
      height: 800px;
      overflow: auto;
      .list-item {
        display: flex;
        align-items: center;
        height: 109px;
        border-bottom: 1px solid #E9EBF3;
        .coin-item {
          display: flex;
          align-items: center;
          height: 150px;
          font-size: 30px;
          .coin-icon {
            height: 52px;
            width: 52px;
            margin-right: 18px;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes showPop {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.h-40 {
  height: 75px;
}
.sign {
  padding: 3px 3px;
  background: #E7F2F0;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #6EB6A9;
}
.size-16 {
  font-size: 16px;
}
@media screen and (min-width: 1000px) {
  .mask-cont {
    position: absolute;
  }
}