.vaults-cont {
  padding: 0 40px 40px 40px;
  background-color: #6EB6A9;
}
.text-e9 {
  color: #E9F3F1;
}
.info-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-top: 35px;
  padding: 30px;
  height: 62px;
  background-color: #70c3b6;
  border-radius: 20px;
}
.detail-cont {
  background-color: #F0F7F7;
  .detail-item {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px 0;
    .icon {
      height: 63px;
      width: 63px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.farm-item {
  border-radius: 20px;
  &.farm_item_hide {
    border-radius: 20px;
  }
  &.farm_item_show {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .drop-icon {
    height: 10px;
    width: 17px;
    img {
      height: 100%;
      width: 100%;
      vertical-align: 10px;
    }
  }
  .farm-icon {
    .icon {
      height: 63px;
      width: 63px;
      border-radius: 50%;
      // overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.farm-detail_info {
  padding: 30px;
  border-top: 1px solid #AAB2C9;
  background: #F8FBFB;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.tab {
  padding: 30px 0;
  border-bottom: 1px solid #D7D9E4;
  .active {
    position: relative;
    color: #6EB6A9;
    font-weight: bold;
    &:after {
      content: '';
      position: absolute;
      width: 92px;
      height: 6px;
      background: #6EB6A9;
      border-radius: 3px;
      left: 50%;
      bottom: -100%;
      transform: translate(-50%, -50%);
    }
  }
}
.ml-53 {
  margin-left: 53px;
}
.size-48 {
  font-size: 48px;
}
.drop_down {
  height: 10px;
  width: 16px;
  img {
    vertical-align: 20px;
    height: 100%;
    width: 100%;
  }
}
.drop_info {
  padding: 10px 58px 10px 70px;
}
.vaults-item {
  //margin: 30px;
  margin-top: 30px;
  padding: 20px 36px 35px 36px;
  border: 1px solid #AAB2C9;
  border-radius: 20px;
}
.item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-width: 120px;
  height: 88px;
  background: #6EB6A9;
  border-radius: 20px;
  line-height: 88px;
  text-align: center;
  size: 30px;
  color: #FFFFFF;
}
.mt-34 {
  margin-top: 34px;
}
.btn-group {
  display: flex;
  font-size: 50px;
  color: #6EB6A9;
  .btn-item {
    width: 88px;
    line-height: 88px;
    text-align: center;
    height: 88px;
    border-radius: 20px;
    border: 1px solid #6EB6A9;
  }
}
.pl-72 {
  padding-right: 52px;
}
.text-6e {
  color: #6EB6A9;
}
.input-cont {
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  height: 98px;
  border: 1px solid #6EB6A9;
  border-radius: 10px;
  input {
    flex: 1;
    width: 50px;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 38px;
    font-weight: 500;
    &::placeholder {
      color: #ABB1BA;
      font-size: 30px;
    }
  }
  span {
    color: #6EB6A9;
    font-size: 26px;
  }
}
.pop-cont {
  padding: 60px 40px 70px 40px;
  background-color: #FFFFFF;
  min-height: 315px;
  width: 610px;
  border-radius: 20px;
}
.btn {
  width: 285px;
  height: 88px;
  line-height: 88px;
  text-align: center;
  font-size: 30px;
  border: 1px solid #6EB6A9;
  border-radius: 20px;
  color: #6EB6A9;
}
.btn_active {
  background: #6EB6A9;
  border: none;
  color: #FFFFFF;
}
.coin-info {
  padding: 0 0 40px 40px;
  background-color: #6EB6A9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .detail-info {
    padding: 22px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #5BA598;
    display: flex;
    align-items: center;
    .icon {
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }
}
.main-cont {
  //border-bottom: 2px solid #A2D1C9;
}
.bg-f0 {
  background-color: #70c3b6;
  border-radius: 20px;
}
.ml-35 {
  margin-left: 35px;
}
.disabled_btn {
  border: 1px solid #ABB1BA !important;
  color: #ABB1BA;
}
.rotate_x {
  transform: rotateX(180deg) !important;
}
.w-330 {
  width: 330px;
}
.show_transition {
  transition: all 0.25s ease-in;
}
.info-icon {
  height: 25px;
  width: 25px;
  img {
    height: 100%;
    width: 100%;
  }
}
.switch-cont {
  height: 50px;
  width: 122px;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 1px solid #DBDEE8;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  span {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 80px;
    color: #9095A6;
    &.active_color {
      color: #FFFFFF;
      background-color: #52b7a8;
      border-radius: 40px;
    }
  }
}
.info-icon {
  height: 30px;
  width: 30px;
  img {
    height: 100%;
    width: 100%;
  }
}
/deep/ .el-tooltip__popper {
  max-width: 75vw !important;
}

@media screen and (min-width: 1000px) {
  .mobile_class {
    height: 1440px;
    overflow-y: auto;
  }
  &::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }
}
.min-200 {
  min-width: 250px;
}